---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_MAPQUEST_KEY&location=cincinatti,oh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52f-ZcSG2miHeuzO6lx4Gp1COpgJmsU"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"cincinatti,oh"},"locations":[{"street":"","adminArea6":"Cincinati","adminArea6Type":"Neighborhood","adminArea5":"Santa
        Marta","adminArea5Type":"City","adminArea4":"Magdalena","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"CO","adminArea1Type":"Country","postalCode":"470008","geocodeQualityCode":"A6XBX","geocodeQuality":"NEIGHBORHOOD","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":11.09977,"lng":-74.0817},"displayLatLng":{"lat":11.09977,"lng":-74.0817},"mapUrl":""},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Cincinnati","adminArea5Type":"City","adminArea4":"Hamilton","adminArea4Type":"County","adminArea3":"OH","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XBX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.10713,"lng":-84.50413},"displayLatLng":{"lat":39.10713,"lng":-84.50413},"mapUrl":""}]}]}'
  recorded_at: Mon, 05 Aug 2024 04:03:12 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=DONT_SHARE_MY_WEATHER_KEY&q=11.09977,-74.0817
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999926'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/05/2024 04:03:12'
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - bdb50ac05bc7277a944bcfe8517b12de
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Cincinati","region":"Magdalena Department","country":"Colombia","lat":11.1,"lon":-74.08,"tz_id":"America/Bogota","localtime_epoch":1722830500,"localtime":"2024-08-04
        23:01"},"current":{"last_updated_epoch":1722830400,"last_updated":"2024-08-04
        23:00","temp_c":25.6,"temp_f":78.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":12.1,"wind_kph":19.4,"wind_degree":72,"wind_dir":"ENE","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"humidity":82,"cloud":19,"feelslike_c":28.1,"feelslike_f":82.7,"windchill_c":25.6,"windchill_f":78.2,"heatindex_c":28.1,"heatindex_f":82.7,"dewpoint_c":22.3,"dewpoint_f":72.2,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":22.7,"gust_kph":36.6},"forecast":{"forecastday":[{"date":"2024-08-04","date_epoch":1722729600,"day":{"maxtemp_c":29.8,"maxtemp_f":85.7,"mintemp_c":24.4,"mintemp_f":75.9,"avgtemp_c":26.9,"avgtemp_f":80.4,"maxwind_mph":13.6,"maxwind_kph":22.0,"totalprecip_mm":0.38,"totalprecip_in":0.01,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":77,"daily_will_it_rain":1,"daily_chance_of_rain":86,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":11.0},"astro":{"sunrise":"05:46
        AM","sunset":"06:20 PM","moonrise":"05:50 AM","moonset":"06:46 PM","moon_phase":"New
        Moon","moon_illumination":0,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1722747600,"time":"2024-08-04
        00:00","temp_c":24.9,"temp_f":76.9,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":7.2,"wind_kph":11.5,"wind_degree":86,"wind_dir":"E","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":82,"cloud":20,"feelslike_c":27.1,"feelslike_f":80.7,"windchill_c":24.9,"windchill_f":76.9,"heatindex_c":27.1,"heatindex_f":80.7,"dewpoint_c":21.6,"dewpoint_f":70.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":13.4,"gust_kph":21.6,"uv":0},{"time_epoch":1722751200,"time":"2024-08-04
        01:00","temp_c":24.8,"temp_f":76.7,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":106,"wind_dir":"ESE","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":79,"cloud":16,"feelslike_c":26.8,"feelslike_f":80.2,"windchill_c":[...]
