---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_MAPQUEST_KEY&location=cincinatti,oh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52f-ZcSG2miHeuzO6lx4Gp1COpgJmsU"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"cincinatti,oh"},"locations":[{"street":"","adminArea6":"Cincinati","adminArea6Type":"Neighborhood","adminArea5":"Santa
        Marta","adminArea5Type":"City","adminArea4":"Magdalena","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"CO","adminArea1Type":"Country","postalCode":"470008","geocodeQualityCode":"A6XBX","geocodeQuality":"NEIGHBORHOOD","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":11.09977,"lng":-74.0817},"displayLatLng":{"lat":11.09977,"lng":-74.0817},"mapUrl":""},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Cincinnati","adminArea5Type":"City","adminArea4":"Hamilton","adminArea4Type":"County","adminArea3":"OH","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XBX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.10713,"lng":-84.50413},"displayLatLng":{"lat":39.10713,"lng":-84.50413},"mapUrl":""}]}]}'
  recorded_at: Tue, 06 Aug 2024 03:51:04 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=DONT_SHARE_MY_WEATHER_KEY&q=11.09977,-74.0817
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999859'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 03:51:04'
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 1c5a65122fe0aa57d63ca8ac5ad66158
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Cincinati","region":"Magdalena Department","country":"Colombia","lat":11.1,"lon":-74.08,"tz_id":"America/Bogota","localtime_epoch":1722916172,"localtime":"2024-08-05
        22:49"},"current":{"last_updated_epoch":1722915900,"last_updated":"2024-08-05
        22:45","temp_c":26.2,"temp_f":79.2,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":13.6,"wind_kph":22.0,"wind_degree":66,"wind_dir":"ENE","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.07,"precip_in":0.0,"humidity":84,"cloud":73,"feelslike_c":29.2,"feelslike_f":84.6,"windchill_c":26.2,"windchill_f":79.2,"heatindex_c":29.2,"heatindex_f":84.6,"dewpoint_c":23.2,"dewpoint_f":73.8,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":22.6,"gust_kph":36.4},"forecast":{"forecastday":[{"date":"2024-08-05","date_epoch":1722816000,"day":{"maxtemp_c":30.3,"maxtemp_f":86.6,"mintemp_c":24.8,"mintemp_f":76.6,"avgtemp_c":27.3,"avgtemp_f":81.1,"maxwind_mph":14.1,"maxwind_kph":22.7,"totalprecip_mm":0.73,"totalprecip_in":0.03,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":77,"daily_will_it_rain":1,"daily_chance_of_rain":87,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":11.0},"astro":{"sunrise":"05:46
        AM","sunset":"06:20 PM","moonrise":"06:40 AM","moonset":"07:26 PM","moon_phase":"Waxing
        Crescent","moon_illumination":0,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1722834000,"time":"2024-08-05
        00:00","temp_c":25.3,"temp_f":77.6,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":11.2,"wind_kph":18.0,"wind_degree":74,"wind_dir":"ENE","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":82,"cloud":19,"feelslike_c":27.7,"feelslike_f":81.8,"windchill_c":25.3,"windchill_f":77.6,"heatindex_c":27.7,"heatindex_f":81.8,"dewpoint_c":22.0,"dewpoint_f":71.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":20.9,"gust_kph":33.7,"uv":0},{"time_epoch":1722837600,"time":"2024-08-05
        01:00","temp_c":25.2,"temp_f":77.4,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.7,"wind_kph":17.3,"wind_degree":76,"wind_dir":"ENE","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":82,"cloud":18,"feelslike_c":27.5,"feelslike_f":81.5,"windchill_c":[...]
