---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.134 TT 0 0.157"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 756,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "ebook_access": "no_ebook",
                    "ebook_count_i": 0,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "first_publish_year": 2001,
                    "format": [
                        "Paperback"
                    ],
                    "has_fulltext": false,
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "key": "/works/OL8503198W",
                    "language": [
                        "eng"
                    ],
                    "last_modified_i": 1338943517,
                    "public_scan_b": false,
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "title_sort": "Denver, Co",
                    "type": "work",
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1795929215941476352,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "author_alternative_name": [
                        "Washington Booker T.",
                        "Booker T. WASHINGTON",
                        "Booker, T. Washington",
                        "Booker T. . Washington",
                        "T. Booker Washington",
                        "BOOKER T. WASHINGTON",
                        "Booker T. With Introduction By Booker T. Washington III Washington",
                        "Booker T 1856-1915 Washington",
                        "Washington, Booker Taliaferro, 1859?-1915.",
                        "Booker T., Washington",
                        "Booker T. 1856-1915 Washington",
                        "Booker Washington",
                        "Booker T. Booker T. Washington",
                        "booker t washington",
                        "Booker T Washington",
                        "Booker Taliaferro Washington"
                    ],
                    "author_key": [
                        "OL8686A",
                        "OL9605944A",
                        "OL10720185A",
                        "OL11092500A"
                    ],
                    "author_name": [
                        "Booker T. Washington",
                        "Booker Washington",
                        "Booker T. Washington",
                        "Booker T Washington"
                    ],
                    "contributor": [
                        "Andrew L. Barnes (Narrator)",
                        "Loram, C. T. 1879-1940.",
                        "Jonathan Reese (Narrator)",
                        "Andrews, William L., 1946-",
                        "Brundage, W. Fitzhugh 1959-",
                        "Walter H. Page (Introduction)",
                        "Clark, Alfred Houghton, artist.",
                        "Daniels, Jonathan.",
                        "New York Public Library.",
                        "W. Fitzhugh Brundage (Editor)",
                        "William L. Andrews (Editor)"
                    ],
                    "cover_edition_key": "OL7384142M",
                    "cover_i": 119317,
                    "ddc": [
                        "378.111",
                        "301.45196024",
                        "378.11092",
                        "370.92",
                        "378.1110924",
                        "973.0496073",
                        "923.773",
                        "378.111092",
                        "370.924"
                    ],
                    "ebook_access": "public",
                    "ebook_count_i": 17,
                    "edition_count": 258,
              [...]
