---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=DONT_SHARE_MY_WEATHER_KEY&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999926'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/05/2024 04:03:11'
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - a5cdf2e2dc2ee450da0574ad45055dac
      Cdn-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1722830204,"localtime":"2024-08-04
        21:56"},"current":{"last_updated_epoch":1722829500,"last_updated":"2024-08-04
        21:45","temp_c":25.2,"temp_f":77.3,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":207,"wind_dir":"SSW","pressure_mb":1013.0,"pressure_in":29.93,"precip_mm":0.0,"precip_in":0.0,"humidity":41,"cloud":14,"feelslike_c":25.5,"feelslike_f":77.9,"windchill_c":25.2,"windchill_f":77.3,"heatindex_c":25.5,"heatindex_f":77.9,"dewpoint_c":10.3,"dewpoint_f":50.6,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":16.2,"gust_kph":26.0},"forecast":{"forecastday":[{"date":"2024-08-04","date_epoch":1722729600,"day":{"maxtemp_c":37.6,"maxtemp_f":99.6,"mintemp_c":23.1,"mintemp_f":73.5,"avgtemp_c":27.8,"avgtemp_f":82.1,"maxwind_mph":26.4,"maxwind_kph":42.5,"totalprecip_mm":0.32,"totalprecip_in":0.01,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":30,"daily_will_it_rain":1,"daily_chance_of_rain":82,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":10.0},"astro":{"sunrise":"06:02
        AM","sunset":"08:09 PM","moonrise":"05:59 AM","moonset":"08:43 PM","moon_phase":"New
        Moon","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722751200,"time":"2024-08-04
        00:00","temp_c":26.5,"temp_f":79.6,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":7.6,"wind_kph":12.2,"wind_degree":174,"wind_dir":"S","pressure_mb":1015.0,"pressure_in":29.96,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":27,"cloud":5,"feelslike_c":25.5,"feelslike_f":78.0,"windchill_c":26.5,"windchill_f":79.6,"heatindex_c":25.5,"heatindex_f":78.0,"dewpoint_c":6.1,"dewpoint_f":42.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":11.4,"gust_kph":18.3,"uv":0},{"time_epoch":1722754800,"time":"2024-08-04
        01:00","temp_c":25.8,"temp_f":78.5,"is_day":0,"condition":{"text":"Overcast
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":172,"wind_dir":"S","pressure_mb":1014.0,"pressure_in":29.95,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":29,"cloud":97,"feelslike_c":25.2,"feelslike_f":77.4,"wind[...]
