---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=nKgNKZvPU7KXYuOsVOzIfQgaexGjeP86&location=Denver,Colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"323-TPSyWGzJovgadJOuI2f5jurVY+0"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,Colorado"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Sat, 03 Aug 2024 23:53:05 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=a4f7bfdd6e09426cad3214519240208&q=39.74001,
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999980'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/03/2024 23:53:08'
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f7daa5c251889a4d0a3fb83968487387
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Yingko","region":"T''ai-wan","country":"Taiwan","lat":24.95,"lon":121.35,"tz_id":"Asia/Taipei","localtime_epoch":1722729098,"localtime":"2024-08-04
        7:51"},"current":{"last_updated_epoch":1722728700,"last_updated":"2024-08-04
        07:45","temp_c":26.3,"temp_f":79.3,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":245,"wind_dir":"WSW","pressure_mb":1009.0,"pressure_in":29.79,"precip_mm":0.0,"precip_in":0.0,"humidity":73,"cloud":8,"feelslike_c":28.4,"feelslike_f":83.1,"windchill_c":26.3,"windchill_f":79.3,"heatindex_c":28.4,"heatindex_f":83.1,"dewpoint_c":21.1,"dewpoint_f":70.0,"vis_km":10.0,"vis_miles":6.0,"uv":7.0,"gust_mph":6.7,"gust_kph":10.8},"forecast":{"forecastday":[{"date":"2024-08-04","date_epoch":1722729600,"day":{"maxtemp_c":35.2,"maxtemp_f":95.3,"mintemp_c":24.9,"mintemp_f":76.8,"avgtemp_c":29.6,"avgtemp_f":85.2,"maxwind_mph":9.4,"maxwind_kph":15.1,"totalprecip_mm":0.24,"totalprecip_in":0.01,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":68,"daily_will_it_rain":1,"daily_chance_of_rain":80,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":11.0},"astro":{"sunrise":"05:24
        AM","sunset":"06:37 PM","moonrise":"04:52 AM","moonset":"06:46 PM","moon_phase":"New
        Moon","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722700800,"time":"2024-08-04
        00:00","temp_c":27.6,"temp_f":81.6,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":0.2,"wind_kph":0.4,"wind_degree":183,"wind_dir":"S","pressure_mb":1009.0,"pressure_in":29.8,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":73,"cloud":10,"feelslike_c":30.5,"feelslike_f":86.9,"windchill_c":27.6,"windchill_f":81.6,"heatindex_c":30.5,"heatindex_f":86.9,"dewpoint_c":22.3,"dewpoint_f":72.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":0.4,"gust_kph":0.6,"uv":0},{"time_epoch":1722704400,"time":"2024-08-04
        01:00","temp_c":27.1,"temp_f":80.9,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":1.3,"wind_kph":2.2,"wind_degree":262,"wind_dir":"W","pressure_mb":1009.0,"pressure_in":29.79,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":74,"cloud":7,"feelslike_c":29.9,"feelslike_f":85.8,"windchill_c":27.2,"[...]
