---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_MAPQUEST_KEY&location=Panama%20City,%20Panama
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32b-dKs5BOgw41wRAR3uafvdttULgcQ"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Panama
        City, Panama"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Panama
        City","adminArea5Type":"City","adminArea4":"Panamá","adminArea4Type":"County","adminArea3":"PA-8","adminArea3Type":"State","adminArea1":"PA","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":8.95239,"lng":-79.53539},"displayLatLng":{"lat":8.95239,"lng":-79.53539},"mapUrl":""}]}]}'
  recorded_at: Tue, 06 Aug 2024 03:51:05 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=New%20York,%20NY&key=DONT_SHARE_MY_MAPQUEST_KEY&to=Panama%20City,%20Panama
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"7810c-73dA4t7U1JeYzUo8oIcUz1To2yI"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"AOkD_v___wYAAQB7BgAAeNp1VEGrW0UUPjOdl54bUzlJ8-DV1byYwn3hQSO4aVdzr_F5wYKxvEUXtgZrsRUE68KNi05iAjEUTB9vIwjelgpPV7oTdFFU5Cnixp2r_of-gOc5c-9Ns9DhZiZzZuacM9_3nYFPaqAB4PStmx_dvHTjg88PPj7HU3j63sW72Lj0_tuvf_XP07eq8TKPP_AI_9EqD7f_uho8nJyc3IXGbu3Oa1_-eG2vGl_lcf7TtT34n3bn-kuPdi7wnye_vHLUeyAmT9xhWPWq3KZDbz2CAgPlFwWjYztYOWPDVza36qpmxKFF8drXxaKsa5cX0cQFu1fV39BqUFirPPQzf7Tu3EvXWLfMVRVeziSQbUaQTVDPPS3ZIdW560Qa1Cnwjma5oe1u7-_FgI4JCB2yRxsnPTVQehmHy7jfLnNPDWAYptBaizWiL7B-NKExacDeAL5-R7WSneesbeVOLncfqPViC-MiHRcy9z5rL9Z8oKvAQ41NP0BHsWYbWVUgoDkjnTCKus2zNxL4kIduAXZJmS95Y3C0vscmE3Dp8sZl5gvMvpU9KUduoYkUekaHAeEITV7g_W2aKuHRGJ7zmQWgUr6TgZq3ddZxN3YWFnAOj0vcXVTvvXxf4uOInfbPuxa6LQcKC-Z8oE0ukbGyEFYppllUcatKbwWYcsTrjSEFaTF9NRPUB03FK585-L77DWdt0UGOoNE5GHC-AT5zDB2OUEI5RYYvSOZNmPdpcQYmokG-mVG-D_ncjgUTraDtdh_sqof7utQa6cTtK1Xw7nB_ZrYdx7OcmxmKnlgkekiGT78wilnbwzM2DTJkiNN-ECfBd1tF4lDOOT8dDBj4cnwvtPVQcsjS4X7p0FJNh6oimIHy2ojqzXBsQFnYU2yWtNwo5DmAgRKha0g1r0weS4Wsyo6FjcYRAzmLkymKdi6CuAliss41IKRQ1hdipep67LepKFmhL4K5zX6HnC3sBPf5Bi0YQr-kUlFAv8aQBL1NgjAEC3R9lOtn51j2j-orjg85GMUWhUb9rL7HOuBC7H83rrkDZ-ksIwBqgkvYuhVdkWTEi8pBlSRrtVZEg7HfhEK3YEiuamBcE3gElOLFkICydtwOaUawAfI5D2PUmrdJIVSIrF4ZCptN-ZLFArnAnOSwOWnXI8BD_fDPe_V8AFuwZJ0uu4amXNNty8QytSPTNKRmjpRpqSlto04mmGYeE4arOxPyRbeOQSV7JcVu0kmPqHtw2-yQaTpt4XlXPKJM0ad8dVTu5wm0c7j663ktDxy_CseW1eqHR39ACjY1hfT4926SmY38UP0LBYi9ruJf-p8:car","realTime":282518,"distance":4441.7744,"time":277189,"formattedTime":"76:59:49","hasHighway":true,"hasTollRoad":true,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":true,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":true,"legs":[{"index":0,"hasTollRoad":true,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":true,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":true,"hasTimedRestriction":false,"distance":4441.7744,"time":282518,"formattedTime":"78:28:38","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.3486,"narrative":"Head
        toward Church St on Chambers St. Go for 0.3 mi.","time":123,"direction":2,"directionName":"Northwest","signs":[],"maneuverNotes":[],"formattedTime":"00:02:03","transportMode":"car","startPoint":{"lat":40.714532,"lng":-74.007119},"turnType":0,"attributes":0,"iconUrl":"","streets":["Chambers
        St","Frederick Douglass Lndg"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_MAPQUEST_KEY&size=225,160&locations=40.714532,-74.007119|marker-1||40.71713,-74.01275000000001|marker-2||&center=40.715830999999994,-74.00993450000001&defaultMarker=none&zoom=14&session=AOkD_v___wYAAQB7BgAAeNp1VEGrW0UUPjOdl54bUzlJ8-DV1byYwn3hQSO4aVdzr_F5wYKxvEUXtgZrsRUE68KNi05iAjEUTB9vIwjelgpPV7oTdFFU5Cnixp2r_of-gOc5c-9Ns9DhZiZzZuacM9_3nYFPaqAB4PStmx_dvHTjg88PPj7HU3j63sW72Lj[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?dt=2024-08-09&hour=03&key=DONT_SHARE_MY_WEATHER_KEY&q=8.95239,-79.53539
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999859'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 03:51:08'
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 6ee1679ad032294ffd1e0b57189c570c
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Panama City","region":"Panama","country":"Panama","lat":8.95,"lon":-79.54,"tz_id":"America/Panama","localtime_epoch":1722916176,"localtime":"2024-08-05
        22:49"},"current":{"last_updated_epoch":1722915900,"last_updated":"2024-08-05
        22:45","temp_c":24.8,"temp_f":76.7,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":5.8,"wind_kph":9.4,"wind_degree":298,"wind_dir":"WNW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.01,"precip_in":0.0,"humidity":93,"cloud":77,"feelslike_c":27.7,"feelslike_f":81.9,"windchill_c":24.8,"windchill_f":76.7,"heatindex_c":27.7,"heatindex_f":81.9,"dewpoint_c":23.6,"dewpoint_f":74.5,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":9.5,"gust_kph":15.3},"forecast":{"forecastday":[{"date":"2024-08-09","date_epoch":1723161600,"day":{"maxtemp_c":26.4,"maxtemp_f":79.5,"mintemp_c":23.9,"mintemp_f":75.1,"avgtemp_c":24.9,"avgtemp_f":76.8,"maxwind_mph":7.2,"maxwind_kph":11.5,"totalprecip_mm":4.04,"totalprecip_in":0.16,"totalsnow_cm":0.0,"avgvis_km":9.5,"avgvis_miles":5.0,"avghumidity":90,"daily_will_it_rain":1,"daily_chance_of_rain":87,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":4.0},"astro":{"sunrise":"06:10
        AM","sunset":"06:37 PM","moonrise":"10:01 AM","moonset":"10:09 PM","moon_phase":"Waxing
        Crescent","moon_illumination":18,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1723190400,"time":"2024-08-09
        03:00","temp_c":24.5,"temp_f":76.1,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":5.4,"wind_kph":8.6,"wind_degree":218,"wind_dir":"SW","pressure_mb":1010.0,"pressure_in":29.82,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":90,"cloud":46,"feelslike_c":27.0,"feelslike_f":80.6,"windchill_c":24.5,"windchill_f":76.1,"heatindex_c":27.0,"heatindex_f":80.6,"dewpoint_c":22.8,"dewpoint_f":73.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.5,"gust_kph":13.7,"uv":0}]}]}}'
  recorded_at: Tue, 06 Aug 2024 03:51:08 GMT
recorded_with: VCR 6.2.0
